@font-face {
    font-family: 'circular';
    src: url('fonts/circular.woff2') format('woff2'),
         url('fonts/circular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: 'circular';
  background-color: #2f4f4f;
  text-align: center; 
  font-size: 50px;
}

p {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h2#fibonacci {
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  position: absolute;
  height: 100%;
}


button {
  border: 3px solid #083b28;
}

::-webkit-Scrollbar{
    width: 5px; 
	background: rgb(44, 4, 56);
}
::-webkit-Scrollbar-thumb{
	border-radius: 10px;
	background: #db59d5;
	box-shadow: inset 0 0 20px #083b28;
}
::-webkit-Scrollbar-track{
	margin-top: 20px;
	border-radius: 10px;
}
html {
  scroll-behavior: smooth
}

div#fibonacci {
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  position: absolute;
  height: 100%;
}

.button:hover {
  text-decoration: underline;
}

.generated {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 800px;
  position: absolute;
  height: 100%
}